<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://fonts.googleapis.com/css2?family=Merriweather&family=Roboto:wght@300&display=swap" rel="stylesheet">
    <script src="https://kit.fontawesome.com/d4ed0579d0.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <link rel="stylesheet" href="static/css/style.css">
    <title>Technologies</title>
</head>

<body class="p-0 d-flex justify-content-center">

    <!-- modals -->

    <!-- css -->
    <div class="modal-style closed" id="sassModal">
        <div class="page-container">
            <img src="https://img.icons8.com/plasticine/50/000000/crossed-arrow.png" class="float-right sassModalButton arrow-button click-icon" />
            <h4 class="mt-2"><span class="t-letter">S</span><span class="t-letter">a</span><span class="t-letter">s</span><span class="t-letter">s</span></h4>
            <hr class="mt-3 dark-hr">
            <!-- content -->
            <div class="scroll-container">

            </div>
        </div>
    </div>

    <!-- Django -->
    <div class="modal-style closed" id="djangoModal">
        <div class="page-container">
            <img src="https://img.icons8.com/plasticine/50/000000/crossed-arrow.png" class="float-right djangoModalButton arrow-button click-icon mb-2" />
            <h4 class="mt-2"><span class="d-letter">D</span><span class="d-letter">j</span><span class="d-letter">a</span><span class="d-letter">n</span><span class="d-letter">g</span><span class="d-letter">o</span></h4>
            <hr class="mt-3 dark-hr">
            <!-- content -->
            <div class="scroll-container">
                <div class="row m-0 p-0">
                    <div class="col-12 col-md-6 m-0 p-0">
                        <h5 class="my-2">1. Installation</h5>
                        <dl>
                            <dt>Create a virtual environment:</dt>
                            <dd>python3 -m venv .venv</dd>
                        </dl>
                        <dl>
                            <dt>Run the virtual environment:</dt>
                            <dd>source .venv/bin/activate</dd>
                        </dl>
                        <dl>
                            <dt>Install django:</dt>
                            <dd>pip install django</dd>
                        </dl>
                        <dl>
                            <dt>start project:</dt>
                            <dd>django-admin startproject project-name .</dd>
                        </dl>
                        <dl>
                            <dt>Create app:</dt>
                            <dd>django-admin startapp appname</dd>
                        </dl>
                    </div>
                    <div class="col-12 col-md-6 m-0 p-0 pl-lg-2">
                        <h5 class="my-2">2. Settings file</h5>
                        <dl>
                            <dt>Install apps:</dt>
                            <dd>INSTALLED_APPS = ['appname']</dd>
                        </dl>
                        <dl>
                            <dt>Locate template folder:</dt>
                            <dd>Templates = ['DIRS':[os.path.join(BASE_DIR, 'templates')],]</dd>
                        </dl>
                        <dl>
                            <dt>Locate Static folder:</dt>
                            <dd>STATICFILES_DIRS = (os.path.join(BASE_DIR, 'static'),)</dd>
                        </dl>
                    </div>
                    <div class="col-12 col-md-6 m-0 p-0">
                        <h5 class="my-2">3. Jinja</h5>
                        <dl>
                            <dt>Load in static folder:</dt>
                            <dd class="mb-0">{% load static %}</dd>
                            <dd>href="{% static 'css/style.css' %}"</dd>
                        </dl>
                        <dl>
                            <dt>Add content:</dt>
                            <dd>{% block content %}{% endblock %}</dd>
                        </dl>
                        <dl>
                            <dt>Add template file:</dt>
                            <dd>{% extend 'base.html' %}</dd>
                        </dl>
                    </div>
                    <div class="col-12 col-md-6 m-0 p-0 pl-lg-2">
                        <h5 class="my-2">4. Create urls</h5>
                        <dl>
                            <dt>Import url:</dt>
                            <dd>from django.conf.urls import url</dd>
                        </dl>
                        <dl>
                            <dt>Standard url:</dt>
                            <dd>url(r'^$', index, name="index"),</dd>
                        </dl>
                        <dl>
                            <dt>Pass data into a route:</dt>
                            <dd>url(r'^edit/(?P&lt;id&gt;\d+)$', editTask),</dd>
                        </dl>

                    </div>
                </div>
            </div>
        </div>
    </div>


    <div class="page-container">

        <div class="row m-0 p-0">
            <div class="col-12">
                <h2 class="text-center my-4 main-title">Technologies</h2>
            </div>
        </div>

        <div class="row m-0 p-0">

            <!-- frontend section -->

            <div class="col-12 col-md-6 col-lg-4 p-0 p-lg-2 ">
                <div class="row m-0 p-1 secondary-background wobble-onload">
                    <div class="col-12 p-0">
                        <h3 class="py-3 text-center secondary-title">FrontEnd<img src="https://img.icons8.com/cotton/32/000000/detective.png" id="open-all-front" class="ml-2 click-icon"></h3>
                        <hr>
                    </div>
                    <!-- languages -->
                    <div class="col-12 p-0">
                        <h4 class="mb-3">Languages<i class="fas fa-language ml-2"></i></h4>
                    </div>
                    <div class="col-12 px-0 px-lg-2">
                        <dl>
                            <dt><img src="https://img.icons8.com/color/15/000000/html-5.png" class="mr-2" />HTML</dt>
                            <hr>
                            <dt><img src="https://img.icons8.com/color/15/000000/css3.png" class="mr-2" />CSS <i
                                    class="far fa-plus-square ml-2 small-icon front-plus" data-toggle="collapse"
                                    href="#css"></i></dt>

                            <div class="collapse wrapper" id="css">
                                <div class="p-2">
                                    <dd>Sass
                                        <a href="https://sass-lang.com/" target="_blank"><img src="https://img.icons8.com/color/25/000000/web.png" class="ml-2 web-icon" /></a>
                                        <img src="images/question-mark.png" style="width:25px;" class="float-right mr-2 sassModalButton">
                                    </dd>
                                </div>
                            </div>
                            <hr>
                            <dt><img src="https://img.icons8.com/color/15/000000/javascript.png"
                                    class="mr-2" />JavaScript (OOP)<i
                                    class="far fa-plus-square ml-2 small-icon front-plus" data-toggle="collapse"
                                    href="#js"></i></dt>
                            <div class="collapse wrapper mt-2" id="js">
                                <div class="p-2">
                                    <dd>Jquery
                                        <a href="https://jquery.com/" target="_blank"><img src="https://img.icons8.com/color/25/000000/web.png" class="ml-1 web-icon" /></a>
                                        <a href="https://cdnjs.com/" target="_blank"><img src="https://img.icons8.com/color/25/000000/download-2.png" class="ml-2 web-icon" /></a>
                                    </dd>

                                </div>
                            </div>

                        </dl>
                    </div>
                    <!-- add ons -->
                    <div class="col-12 p-0">
                        <h4 class="mb-3">Add ons<i class="fas fa-puzzle-piece ml-2"></i></h4>
                    </div>
                    <div class="col-12 px-0 px-lg-2">
                        <dl>
                            <dt><img src="https://img.icons8.com/color/15/000000/under-construction.png"
                                    class="mr-2" />Framework<i class="far fa-plus-square ml-2 small-icon front-plus"
                                    data-toggle="collapse" href="#frame"></i></dt>
                            <div id="frame" class="collapse wrapper mt-2">
                                <div class="p-2">
                                    <dd>Bootstrap

                                        <a href="https://getbootstrap.com/" target="_blank"><img src="https://img.icons8.com/color/25/000000/web.png" class="ml-2 web-icon" /></a>
                                    </dd>
                                    <hr>
                                    <dd>Materialize
                                        <a href="https://materializecss.com/" target="_blank"><img src="https://img.icons8.com/color/25/000000/web.png" class="ml-2 web-icon" /></a>
                                    </dd>
                                </div>

                            </div>

                        </dl>
                    </div>
                    <!-- libraries -->
                    <div class="col-12 p-0">
                        <h4 class="mb-3">Libraries<i class="fas fa-book ml-2"></i></h4>
                    </div>
                    <div class="col-12 px-0 px-lg-2">
                        <dl>
                            <div>
                                <dt><img src="https://img.icons8.com/color/18/000000/pixar-lamp.png"
                                        class="mr-2" />Animation<i class="far fa-plus-square ml-2 small-icon front-plus"
                                        data-toggle="collapse" href="#animation"></i></dt>
                                <div class="collapse wrapper" id="animation">
                                    <div class="p-2">
                                        <dd>
                                            type
                                            <a href="https://github.com/mattboldt/typed.js" target="_blank"><img src="https://img.icons8.com/color/25/000000/web.png" class="ml-2 web-icon" /></a>
                                        </dd>
                                        <hr>
                                        <dd>
                                            gsap
                                            <a href="https://greensock.com/" target="_blank"><img src="https://img.icons8.com/color/25/000000/web.png" class="ml-2 web-icon" /></a>

                                        </dd>
                                        <hr>
                                        <dd>
                                            Anime
                                            <a href="https://animejs.com/" target="_blank"><img src="https://img.icons8.com/color/25/000000/web.png" class="ml-2 web-icon" /></a>

                                        </dd>
                                    </div>
                                    </dd>
                                </div>
                                <hr>
                                <dt><img src="https://img.icons8.com/dusk/17/000000/form.png" class="mr-2" />Forms<i
                                        class="far fa-plus-square ml-2 small-icon front-plus" data-toggle="collapse"
                                        href="#forms"></i></dt>
                                <div class="collapse wrapper" id="forms">
                                    <div class="p-2">
                                        <dd>
                                            Cleave.js
                                            <a href="https://nosir.github.io/cleave.js/" target="_blank"><img src="https://img.icons8.com/color/25/000000/web.png" class="ml-2 web-icon" /></a>
                                        </dd>
                                    </div>
                                    </dd>
                                </div>
                                <hr>
                                <dt><img src="https://img.icons8.com/plasticine/18/000000/combo-chart.png"
                                        class="mr-2" />Charts<i class="far fa-plus-square ml-2 small-icon front-plus"
                                        data-toggle="collapse" href="#charts"></i></dt>
                                <div class="collapse wrapper mt-2" id="charts">
                                    <div class="p-2">
                                        <dd>d3.js
                                            <a href="https://d3js.org/" target="_blank"><img src="https://img.icons8.com/color/25/000000/web.png" class="ml-2 web-icon" /></a>
                                        </dd>
                                        <hr>
                                        <dd>dc.js
                                            <a href="https://dc-js.github.io/dc.js/" target="_blank"><img src="https://img.icons8.com/color/25/000000/web.png" class="ml-2 web-icon" /></a>
                                        </dd>
                                        <hr>
                                        <dd>chart.js
                                            <a href="https://www.chartjs.org/" target="_blank"><img src="https://img.icons8.com/color/25/000000/web.png" class="ml-2 web-icon" /></a>
                                        </dd>
                                        <hr>
                                        <dd>crossfilter.js
                                            <a href="https://github.com/mattboldt/typed.js" target="_blank"><img src="https://img.icons8.com/color/25/000000/web.png" class="ml-2 web-icon" /></a>
                                        </dd>
                                    </div>
                                </div>
                        </dl>

                        </div>
                        <!-- styling -->
                        <div class="col-12 p-0">
                            <h4 class="mb-3">Styling<i class="fas fa-fighter-jet ml-2"></i></h4>
                        </div>
                        <div class="col-12 px-0 px-lg-2">
                            <dl>
                                <div>
                                    <dt><img src="https://img.icons8.com/color/17/000000/medium-icons.png"
                                        class="mr-2" />Icons<i class="far fa-plus-square ml-2 small-icon front-plus"
                                        data-toggle="collapse" href="#icons"></i></dt>

                                    <div class="collapse wrapper mt-2" id="icons">
                                        <div class="p-2">
                                            <dd class="ml-3">Fontawesome
                                                <a href="https://fontawesome.com/" target="_blank"><img src="https://img.icons8.com/color/25/000000/web.png" class="ml-2 web-icon" /></a>
                                            </dd>
                                            <hr>
                                            <dd class="ml-3">Icons8
                                                <a href="https://icons8.com/" target="_blank"><img src="https://img.icons8.com/color/25/000000/web.png" class="ml-2 web-icon" /></a>
                                            </dd>
                                            <hr>
                                            <dd class="ml-3">IconsShock
                                                <a href="https://www.iconshock.com/open-icons/" target="_blank"><img src="https://img.icons8.com/color/25/000000/web.png" class="ml-2 web-icon" /></a>
                                            </dd>
                                            <hr>
                                            <dd class="ml-3">Flaticon
                                                <a href="https://www.flaticon.com/" target="_blank"><img src="https://img.icons8.com/color/25/000000/web.png" class="ml-2 web-icon" /></a>
                                            </dd>
                                            <hr>
                                            <dd class="ml-3">Endless Icons
                                                <a href="http://endlessicons.com/" target="_blank"><img src="https://img.icons8.com/color/25/000000/web.png" class="ml-2 web-icon" /></a>
                                            </dd>
                                            <hr>
                                            <dd class="ml-3">Round Icons
                                                <a href="https://roundicons.com/" target="_blank"><img src="https://img.icons8.com/color/25/000000/web.png" class="ml-2 web-icon" /></a>
                                            </dd>
                                            <hr>
                                            <dd class="ml-3">Iconmonstr
                                                <a href="https://iconmonstr.com/" target="_blank"><img src="https://img.icons8.com/color/25/000000/web.png" class="ml-2 web-icon" /></a>
                                            </dd>
                                        </div>

                                    </div>
                                </div>
                                <hr>
                                <div>
                                    <dt><img src="https://img.icons8.com/cotton/17/000000/pen-2.png"
                                        class="mr-2" />Illustration<i
                                        class="far fa-plus-square ml-2 small-icon front-plus" data-toggle="collapse"
                                        href="#illustrations"></i></dt>

                                    <div class="collapse wrapper mt-2" id="illustrations">
                                        <div class="p-2">
                                            <dd class="ml-3">Pattern Library
                                                <a href="http://thepatternlibrary.com/" target="_blank"><img src="https://img.icons8.com/color/25/000000/web.png" class="ml-2 web-icon" /></a>
                                            </dd>
                                            <hr>
                                            <dd class="ml-3">Illustrations.co
                                                <a href="https://illlustrations.co/" target="_blank"><img src="https://img.icons8.com/color/25/000000/web.png" class="ml-2 web-icon" /></a>
                                            </dd>
                                            <hr>
                                            <dd class="ml-3">Open Doodles
                                                <a href="https://www.opendoodles.com/" target="_blank"><img src="https://img.icons8.com/color/25/000000/web.png" class="ml-2 web-icon" /></a>
                                            </dd>
                                            <hr>
                                            <dd class="ml-3">Drawkit.io
                                                <a href="https://www.openpeeps.com/" target="_blank"><img src="https://img.icons8.com/color/25/000000/web.png" class="ml-2 web-icon" /></a>
                                            </dd>
                                            <hr>
                                            <dd class="ml-3">Undraw
                                                <a href="https://undraw.co/illustrations" target="_blank"><img src="https://img.icons8.com/color/25/000000/web.png" class="ml-2 web-icon" /></a>
                                            </dd>
                                        </div>

                                    </div>
                                </div>
                                <hr>
                                <!-- photos -->
                                <div>
                                    <dt><img src="https://img.icons8.com/color/17/000000/image.png" class="mr-2" />Photos<i
                                        class="far fa-plus-square ml-2 small-icon front-plus" data-toggle="collapse"
                                        href="#photos"></i></dt>
                                    <div class="collapse wrapper mt-2" id="photos">
                                        <div class="p-2">
                                            <dd>Unsplash
                                                <a href="https://unsplash.com/" target="_blank"><img src="https://img.icons8.com/color/25/000000/web.png" class="ml-2 web-icon" /></a>
                                            </dd>
                                            <hr>
                                            <dd>Picjumbo
                                                <a href="https://picjumbo.com/" target="_blank"><img src="https://img.icons8.com/color/25/000000/web.png" class="ml-2 web-icon" /></a>
                                            </dd>
                                            <hr>
                                            <dd>Gratisography
                                                <a href="https://gratisography.com/" target="_blank"><img src="https://img.icons8.com/color/25/000000/web.png" class="ml-2 web-icon" /></a>
                                            </dd>
                                            <hr>
                                            <dd>Pexels
                                                <a href="https://www.pexels.com/" target="_blank"><img src="https://img.icons8.com/color/25/000000/web.png" class="ml-2 web-icon" /></a>
                                            </dd>
                                            <hr>
                                            <dd>Magdeleine
                                                <a href="https://magdeleine.co/" target="_blank"><img src="https://img.icons8.com/color/25/000000/web.png" class="ml-2 web-icon" /></a>
                                            </dd>
                                            <hr>
                                            <dd>ISO Republic
                                                <a href="https://isorepublic.com/" target="_blank"><img src="https://img.icons8.com/color/25/000000/web.png" class="ml-2 web-icon" /></a>
                                            </dd>
                                            <hr>
                                            <dd>Freepik
                                                <a href="https://www.freepik.com/" target="_blank"><img src="https://img.icons8.com/color/25/000000/web.png" class="ml-2 web-icon" /></a>
                                            </dd>
                                            <hr>
                                            <dd>Pattern 8
                                                <a href="https://pattern8.com/" target="_blank"><img src="https://img.icons8.com/color/25/000000/web.png" class="ml-2 web-icon" /></a>
                                            </dd>
                                            <hr>
                                            <dd>Lost and Taken
                                                <a href="https://lostandtaken.com/" target="_blank"><img src="https://img.icons8.com/color/25/000000/web.png" class="ml-2 web-icon" /></a>
                                            </dd>
                                        </div>
                                    </div>
                                </div>
                                <hr>
                                <div>
                                    <dt><img src="https://img.icons8.com/ios-glyphs/16/000000/sentence-case--v2.png"
                                        class="mr-2" />Fonts<i class="far fa-plus-square ml-2 small-icon front-plus"
                                        data-toggle="collapse" href="#fonts"></i></dt>
                                    <div class="collapse wrapper mt-2" id="fonts">
                                        <div class="p-2">
                                            <dd>Google Fonts
                                                <a href="https://fonts.google.com/" target="_blank"><img src="https://img.icons8.com/color/25/000000/web.png" class="ml-2 web-icon" /></a>
                                            </dd>
                                        </div>
                                    </div>
                                </div>
                                <hr>
                                <div>
                                    <dt><img src="https://img.icons8.com/nolan/17/vector.png" class="mr-2" />SVG<i
                                        class="far fa-plus-square ml-2 small-icon front-plus" data-toggle="collapse"
                                        href="#svg"></i></dt>
                                    <div class="collapse wrapper mt-2" id="svg">
                                        <div class="p-2">
                                            <dd>Simple SVG path demo
                                                <a href="https://getwaves.io/" target="_blank"><img src="https://img.icons8.com/color/25/000000/web.png" class="ml-2 web-icon" /></a>
                                            </dd>
                                            <hr>
                                            <dd>SVG path builder
                                                <a href="https://codepen.io/anthonydugois/pen/mewdyZ" target="_blank"><img src="https://img.icons8.com/color/25/000000/web.png" class="ml-2 web-icon" /></a>
                                            </dd>
                                            <hr>
                                            <dd>Getwaves
                                                <a href="https://getwaves.io/" target="_blank"><img src="https://img.icons8.com/color/25/000000/web.png" class="ml-2 web-icon" /></a>
                                            </dd>
                                            <hr>
                                            <dd>Figma
                                                <a href="https://www.figma.com/" target="_blank"><img src="https://img.icons8.com/color/25/000000/web.png" class="ml-2 web-icon" /></a>
                                            </dd>
                                        </div>
                                    </div>
                                </div>
                                <hr>
                                <!-- Inspiration -->
                                <div>
                                    <dt><img src="https://img.icons8.com/plasticine/18/000000/idea.png"
                                        class="mr-2" />Inspiration<i
                                        class="far fa-plus-square ml-2 small-icon front-plus" data-toggle="collapse"
                                        href="#inspiration"></i></dt>
                                    <div class="collapse wrapper mt-2" id="inspiration">
                                        <div class="p-2">
                                            <dd>95 Inspiring Websites
                                                <a href="https://www.awwwards.com/95-inspiring-websites-of-web-design-agencies.html" target="_blank"><img src="https://img.icons8.com/color/25/000000/web.png" class="ml-2 web-icon" /></a>
                                            </dd>
                                            <hr>
                                            <dd>Creative Market
                                                <a href="https://creativemarket.com/" target="_blank"><img src="https://img.icons8.com/color/25/000000/web.png" class="ml-2 web-icon" /></a>
                                            </dd>
                                        </div>
                                    </div>
                                </div>
                                <hr>
                                <!-- Themes -->
                                <div>
                                    <dt><img src="https://img.icons8.com/dusk/17/000000/change-theme.png"
                                        class="mr-2" />Themes<i
                                        class="far fa-plus-square ml-2 small-icon front-plus" data-toggle="collapse"
                                        href="#themes"></i></dt>
                                    <div class="collapse wrapper mt-2" id="themes">
                                        <div class="p-2">
                                            <dd>coolors
                                                <a href="https://coolors.co/" target="_blank"><img src="https://img.icons8.com/color/25/000000/web.png" class="ml-2 web-icon" /></a>
                                            </dd>
                                            <hr>
                                            <dd>Bootswatch
                                                <a href="https://bootswatch.com/" target="_blank"><img src="https://img.icons8.com/color/25/000000/web.png" class="ml-2 web-icon" /></a>
                                            </dd>
                                        </div>
                                    </div>
                                </div>
                            </dl>
                        </div>
                        <!-- How -->
                        <div class="col-12 p-0">
                            <h4 class="mb-3">How?<i class="fas fa-question ml-2"></i></h4>
                        </div>
                        <div class="col-12 px-0 px-lg-2">
                            <dl>
                                <dd>Animate an SVG</dd>
                                <hr>
                                <dd>Scroll through an animation</dd>
                                <hr>
                                <dd>SVG with a background image</dd>
                            </dl>
                        </div>
                    </div>
                </div>

                <!-- Backend / learning -->

                <div class="col-12 col-md-6 col-lg-4 mt-3 mt-md-0 p-0 p-lg-2 ">
                    <div class="row m-0 p-1 secondary-background wobble-onload">
                        <div class="col-12 p-0 ">
                            <h3 class="py-3 text-center secondary-title">Backend<img src="https://img.icons8.com/cotton/32/000000/detective.png" id="open-all-back" class="ml-2 click-icon"></h3>
                            <hr>
                        </div>
                        <!-- languages -->
                        <div class="col-12 p-0 ">
                            <h4 class="mb-3 ">Languages<i class="fas fa-language ml-2"></i></h4>
                        </div>
                        <div class="col-12 px-0 px-lg-2">
                            <dl>
                                <dt><img src="https://img.icons8.com/color/15/000000/python.png" class="mr-2" />Python</dt>
                            </dl>
                        </div>
                        <!-- add ons -->
                        <div class="col-12 p-0 ">
                            <h4 class="mb-3 ">Add ons<i class="fas fa-puzzle-piece ml-2"></i></h4>
                        </div>
                        <div class="col-12 px-0 px-lg-2">
                            <dl>

                                <dt><img src="https://img.icons8.com/color/15/000000/under-construction.png"
                                    class="mr-2" />Framework<i class="far fa-plus-square ml-2 small-icon"
                                    data-toggle="collapse" href="#framework"></i></dt>
                                <div class="collapse wrapper" id="framework">
                                    <div class="p-2">
                                        <dd class="ml-3">Flask</dd>
                                        <hr>
                                        <dd>Django
                                            <a href="https://www.djangoproject.com/" target="_blank"><img src="https://img.icons8.com/color/25/000000/web.png" class="ml-2 web-icon" /></a>
                                            <img src="images/question-mark.png" style="width:25px;" class="float-right mr-2 djangoModalButton click-icon">
                                        </dd>
                                    </div>
                                </div>
                                <hr>
                                <dt><img src="https://img.icons8.com/offices/18/000000/module.png" class="mr-2" />Python
                                modules<i class="far fa-plus-square ml-2 small-icon" data-toggle="collapse"
                                    href="#modules"></i></dt>
                                <div class="collapse wrapper mt-2" id="modules">
                                    <div class="p-2">
                                        <dd>pyperclip
                                            <a href="https://pypi.org/project/pyperclip/" target="_blank"><img src="https://img.icons8.com/color/25/000000/web.png" class="ml-2 web-icon" /></a>
                                        </dd>
                                    </div>
                                </div>
                                <hr>
                                <dt><img src="https://img.icons8.com/dusk/18/000000/add-database.png"
                                    class="mr-2" />Databases<i class="far fa-plus-square ml-2 small-icon"
                                    data-toggle="collapse" href="#database"></i></dt>
                                <div class="collapse wrapper mt-2" id="database">
                                    <div class="p-2">
                                        <dd>MongoDB
                                            <a href="https://www.mongodb.com/" target="_blank"><img src="https://img.icons8.com/color/25/000000/web.png" class="ml-2 web-icon" /></a>
                                        </dd>
                                        <hr>
                                        <dd>Postgres

                                        </dd>
                                    </div>
                                </div>
                            </dl>
                        </div>
                        <!-- How -->
                        <div class="col-12 p-0">
                            <h4 class="mb-3">How?<i class="fas fa-question ml-2"></i></h4>
                        </div>
                        <div class="col-12 px-0 px-lg-2">
                            <dl>
                                <dd>Jinja and JavaScript to communicate</dd>
                                <hr>
                                <dd>Add data to a chart</dd>
                            </dl>
                        </div>
                    </div>
                    <div class="row m-0 p-1 secondary-background wobble-onload mt-3">
                        <div class="col-12 p-0 ">
                            <h3 class="py-3 text-center secondary-title">Learning<img src="https://img.icons8.com/cotton/32/000000/detective.png" id="open-all-back" class="ml-2 click-icon"></h3>
                            <hr>
                        </div>
                        <!-- languages -->
                        <div class="col-12 p-0 ">
                            <h4 class="mb-3 ">Tutorials<i class="fas fa-language ml-2"></i></h4>
                        </div>
                        <div class="col-12 px-0 px-lg-2">
                            <dl>
                                <dt><img src="https://img.icons8.com/nolan/17/vector.png"
                                    class="mr-2" />SVG<i class="far fa-plus-square ml-2 small-icon"
                                    data-toggle="collapse" href="#svglearning"></i></dt>
                                <div class="collapse wrapper" id="svglearning">
                                    <div class="p-2">
                                        <dd class="ml-3">Flask</dd>
                                        <hr>
                                        <dd>Django
                                            <a href="https://www.djangoproject.com/" target="_blank"><img src="https://img.icons8.com/color/25/000000/web.png" class="ml-2 web-icon" /></a>
                                            <img src="images/question-mark.png" style="width:25px;" class="float-right mr-2 djangoModalButton click-icon">
                                        </dd>
                                    </div>
                                </div>
                                <hr>
                                <dt><img src="https://img.icons8.com/color/15/000000/under-construction.png"
                                    class="mr-2" />Animation<i class="far fa-plus-square ml-2 small-icon"
                                    data-toggle="collapse" href="#framework"></i></dt>
                                <div class="collapse wrapper" id="framework">
                                    <div class="p-2">
                                        <dd class="ml-3">Flask</dd>
                                        <hr>
                                        <dd>Django
                                            <a href="https://www.djangoproject.com/" target="_blank"><img src="https://img.icons8.com/color/25/000000/web.png" class="ml-2 web-icon" /></a>
                                            <img src="images/question-mark.png" style="width:25px;" class="float-right mr-2 djangoModalButton click-icon">
                                        </dd>
                                    </div>
                                </div>
                                <hr>
                                <dt><img src="https://img.icons8.com/color/15/000000/under-construction.png"
                                    class="mr-2" />e-commerce<i class="far fa-plus-square ml-2 small-icon"
                                    data-toggle="collapse" href="#framework"></i></dt>
                                <div class="collapse wrapper" id="framework">
                                    <div class="p-2">
                                        <dd class="ml-3">Flask</dd>
                                        <hr>
                                        <dd>Django
                                            <a href="https://www.djangoproject.com/" target="_blank"><img src="https://img.icons8.com/color/25/000000/web.png" class="ml-2 web-icon" /></a>
                                            <img src="images/question-mark.png" style="width:25px;" class="float-right mr-2 djangoModalButton click-icon">
                                        </dd>
                                    </div>
                                </div>
                                <hr>
                                <dt><img src="https://img.icons8.com/color/15/000000/under-construction.png"
                                    class="mr-2" />Stripe (Django)<i class="far fa-plus-square ml-2 small-icon"
                                    data-toggle="collapse" href="#framework"></i></dt>
                                <div class="collapse wrapper" id="framework">
                                    <div class="p-2">
                                        <dd class="ml-3">Flask</dd>
                                        <hr>
                                        <dd>Django
                                            <a href="https://www.djangoproject.com/" target="_blank"><img src="https://img.icons8.com/color/25/000000/web.png" class="ml-2 web-icon" /></a>
                                            <img src="images/question-mark.png" style="width:25px;" class="float-right mr-2 djangoModalButton click-icon">
                                        </dd>
                                    </div>
                                </div>
                            </dl>
                        </div>
                        <!-- add ons -->
                        <div class="col-12 p-0 ">
                            <h4 class="mb-3 ">Tips<i class="fas fa-puzzle-piece ml-2"></i></h4>
                        </div>
                        <div class="col-12 px-0 px-lg-2">
                            <dl>

                                <dt><img src="https://img.icons8.com/color/15/000000/under-construction.png"
                                    class="mr-2" />Framework<i class="far fa-plus-square ml-2 small-icon"
                                    data-toggle="collapse" href="#framework"></i></dt>
                                <div class="collapse wrapper" id="framework">
                                    <div class="p-2">
                                        <dd class="ml-3">Flask</dd>
                                        <hr>
                                        <dd>Django
                                            <a href="https://www.djangoproject.com/" target="_blank"><img src="https://img.icons8.com/color/25/000000/web.png" class="ml-2 web-icon" /></a>
                                            <img src="images/question-mark.png" style="width:25px;" class="float-right mr-2 djangoModalButton click-icon">
                                        </dd>
                                    </div>
                                </div>
                                <hr>
                                <dt><img src="https://img.icons8.com/offices/18/000000/module.png" class="mr-2" />Python
                                modules<i class="far fa-plus-square ml-2 small-icon" data-toggle="collapse"
                                    href="#modules"></i></dt>
                                <div class="collapse wrapper mt-2" id="modules">
                                    <div class="p-2">
                                        <dd>pyperclip
                                            <a href="https://pypi.org/project/pyperclip/" target="_blank"><img src="https://img.icons8.com/color/25/000000/web.png" class="ml-2 web-icon" /></a>
                                        </dd>
                                    </div>
                                </div>
                                <hr>
                                <dt><img src="https://img.icons8.com/dusk/18/000000/add-database.png"
                                    class="mr-2" />Databases<i class="far fa-plus-square ml-2 small-icon"
                                    data-toggle="collapse" href="#database"></i></dt>
                                <div class="collapse wrapper mt-2" id="database">
                                    <div class="p-2">
                                        <dd>MongoDB
                                            <a href="https://www.mongodb.com/" target="_blank"><img src="https://img.icons8.com/color/25/000000/web.png" class="ml-2 web-icon" /></a>
                                        </dd>
                                        <hr>
                                        <dd>Postgres

                                        </dd>
                                    </div>
                                </div>
                            </dl>
                        </div>
                        <!-- How -->
                        <div class="col-12 p-0">
                            <h4 class="mb-3">How?<i class="fas fa-question ml-2"></i></h4>
                        </div>
                        <div class="col-12 px-0 px-lg-2">
                            <dl>
                                <dd>Jinja and JavaScript to communicate</dd>
                                <hr>
                                <dd>Add data to a chart</dd>
                            </dl>
                        </div>
                    </div>
                </div>

                <!-- programmes / Developed -->

                <div class="col-12 col-md-6 col-lg-4 mt-3 mt-md-0 p-0 p-lg-2 ">
                    <!-- programmes -->
                    <div class="row m-0 p-1 secondary-background wobble-onload">
                        <div class="col-12 p-0 ">
                            <h3 class="py-3 text-center secondary-title">Programmes<img src="https://img.icons8.com/cotton/32/000000/detective.png" id="open-all-back" class="ml-2 click-icon"></h3>
                            <hr>
                        </div>
                        <!-- Wireframes -->
                        <div class="col-12 p-0 ">
                            <h4 class="mb-3 ">Development<i class="fas fa-puzzle-piece ml-2"></i></h4>
                        </div>
                        <div class="col-12 px-0 px-lg-2">
                            <dl>

                                <dt><img src="https://img.icons8.com/dotty/17/000000/grid-3.png"
                                    class="mr-2" />Wireframes<i class="far fa-plus-square ml-2 small-icon"
                                    data-toggle="collapse" href="#wireframes"></i></dt>
                                <div class="collapse wrapper" id="wireframes">
                                    <div class="p-2">
                                        <dd class="ml-3">Flask</dd>
                                        <hr>
                                        <dd>Django
                                            <a href="https://www.djangoproject.com/" target="_blank"><img src="https://img.icons8.com/color/25/000000/web.png" class="ml-2 web-icon" /></a>
                                            <img src="images/question-mark.png" style="width:25px;" class="float-right mr-2 djangoModalButton click-icon">
                                        </dd>
                                    </div>
                                </div>
                                <hr>
                                <dt><img src="https://img.icons8.com/dusk/17/000000/edit-image.png" class="mr-2" />Photo Editors<i class="far fa-plus-square ml-2 small-icon" data-toggle="collapse"
                                    href="#photoedit"></i></dt>
                                <div class="collapse wrapper mt-2" id="photoedit">
                                    <div class="p-2">
                                        <dd>Photoshop</dd>
                                        <hr>
                                        <dd></dd>
                                    </div>
                                </div>
                                <hr>
                                <dt><img src="https://img.icons8.com/clouds/18/000000/vector.png"
                                    class="mr-2" />Illustrations / SVG<i class="far fa-plus-square ml-2 small-icon"
                                    data-toggle="collapse" href="#illustrationssvg"></i></dt>
                                <div class="collapse wrapper mt-2" id="illustrationssvg">
                                    <div class="p-2">
                                        <dd>Adobe Illustrator</dd>
                                        <hr>
                                        <dd>Figma</dd>
                                    </div>
                                </div>
                            </dl>
                        </div>
                        <!-- How -->
                        <div class="col-12 p-0">
                            <h4 class="mb-3">How?<i class="fas fa-question ml-2"></i></h4>
                        </div>
                        <div class="col-12 px-0 px-lg-2">
                            <dl>
                                <dd>Export an SVG in illustrator</dd>

                            </dl>
                        </div>
                    </div>
                    <!-- developed -->
                    <div class="row m-0 p-1 secondary-background wobble-onload mt-3">
                        <div class="col-12 p-0 ">
                            <h3 class="py-3 text-center secondary-title">Developed<img src="https://img.icons8.com/cotton/32/000000/detective.png" id="open-all-back" class="ml-2 click-icon"></h3>
                            <hr>
                        </div>
                        <!-- Hosting -->
                        <div class="col-12 p-0 ">
                            <h4 class="mb-3 ">Hosting<i class="fas fa-puzzle-piece ml-2"></i></h4>
                        </div>
                        <div class="col-12 px-0 px-lg-2">
                            <dl>

                                <dt><img src="https://img.icons8.com/office/16/000000/static-views.png"
                                    class="mr-2" />Static Hosting<i class="far fa-plus-square ml-2 small-icon"
                                    data-toggle="collapse" href="#statichosting"></i></dt>
                                <div class="collapse wrapper" id="statichosting">
                                    <div class="p-2">
                                        <dd class="ml-3">Github</dd>
                                        <hr>
                                    </div>
                                </div>
                                <hr>
                                <dt><img src="https://img.icons8.com/dusk/17/000000/server.png"
                                    class="mr-2" />Dynamic Hosting<i class="far fa-plus-square ml-2 small-icon"
                                    data-toggle="collapse" href="#dynamichosting"></i></dt>
                                <div class="collapse wrapper mt-2" id="dynamichosting">
                                    <div class="p-2">
                                        <dd class="ml-3">Heroku</dd>
                                        <hr>
                                    </div>
                                </div>

                            </dl>
                        </div>
                        <!-- Validators -->
                        <div class="col-12 p-0 ">
                            <h4 class="mb-3 ">Validators<i class="fas fa-puzzle-piece ml-2"></i></h4>
                        </div>
                        <div class="col-12 px-0 px-lg-2">
                            <dl>
                                <dt><img src="https://img.icons8.com/color/15/000000/html-5.png" class="mr-2" />HTML</dt>
                                <hr>
                                <dt><img src="https://img.icons8.com/color/15/000000/css3.png" class="mr-2" />CSS <i
                                        class="far fa-plus-square ml-2 small-icon front-plus" data-toggle="collapse"
                                        href="#css"></i></dt>

                                <div class="collapse wrapper" id="css">
                                    <div class="p-2">
                                        <dd>Sass
                                            <a href="https://sass-lang.com/" target="_blank"><img src="https://img.icons8.com/color/25/000000/web.png" class="ml-2 web-icon" /></a>
                                            <img src="images/question-mark.png" style="width:25px;" class="float-right mr-2 sassModalButton">
                                        </dd>
                                    </div>
                                </div>
                                <hr>
                                <dt><img src="https://img.icons8.com/color/15/000000/javascript.png"
                                        class="mr-2" />JavaScript (OOP)<i
                                        class="far fa-plus-square ml-2 small-icon front-plus" data-toggle="collapse"
                                        href="#js"></i></dt>
                                <div class="collapse wrapper mt-2" id="js">
                                    <div class="p-2">
                                        <dd>Jquery
                                            <a href="https://jquery.com/" target="_blank"><img src="https://img.icons8.com/color/25/000000/web.png" class="ml-1 web-icon" /></a>
                                            <a href="https://cdnjs.com/" target="_blank"><img src="https://img.icons8.com/color/25/000000/download-2.png" class="ml-2 web-icon" /></a>
                                        </dd>

                                    </div>
                                </div>

                            </dl>
                        </div>
                        <!-- How -->
                        <div class="col-12 p-0">
                            <h4 class="mb-3">How?<i class="fas fa-question ml-2"></i></h4>
                        </div>
                        <div class="col-12 px-0 px-lg-2">
                            <dl>
                                <dd>Export an SVG in illustrator</dd>

                            </dl>
                        </div>
                    </div>
                </div>
            </div>

            <!-- <div class="row m-0 p-0">
                <div class="col-12">
                    <h2 class="text-center my-4 text-light">Education</h2>
                </div>
            </div>

            <div class="row m-0 p-0">
                <div class="col-12 col-lg-6 p-0">
                    <div class="row m-0 p-3 secondary-background">
                        <div class="col-12 p-0">
                            <h3 class="my-3 text-center"><u>Development</u></h3>
                        </div>

                    </div>
                </div>
                <div class="col-12 col-lg-6 mt-3 mt-lg-0 p-0">
                    <div class="row m-0 p-3 secondary-background">
                        <div class="col-12 p-0 ">
                            <h3 class="my-3 text-center"><u>Design</u></h3>
                        </div>
                    </div>
                </div> -->

        </div>
    </div>




    <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.2.6/gsap.min.js"></script>
    <script src="static/js/modal.js"></script>
    <script src="static/js/javascript.js"></script>

</body>

</html>