/* bootstrap overide */

.card-body {
    padding: 3px;
}

.card {
    border: rgb(240, 240, 240) solid 1px;
    box-shadow: rgba(0, 0, 0, 0.03) 0px 0px 7px 1px;
}


/* base styling */

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: 'Merriweather', serif;
}

p,
dd,
dt,
dl {
    font-family: 'Roboto', sans-serif;
}


/* icons */

.small-icon {
    font-size: 10px;
    position: relative;
    bottom: 2px;
    cursor: pointer;
}

.web-icon {
    cursor: pointer;
}


/* list style */

dd {
    margin-left: 15px;
}

dt {
    margin-left: 0px;
    font-size: 18px;
    color: rgb(88, 88, 88);
    margin-bottom: 7px;
}

dl {
    padding: 8px;
    border: solid rgb(220, 220, 220) 1px;
    border-radius: 5px;
    background-color: rgba(255, 255, 255);
    box-shadow: rgba(0, 0, 0, 0.06) 0px 0px 7px 1px;
}

span {
    color: gray;
}

.btn-main {
    background-image: linear-gradient(rgb(124, 233, 245), rgb(100, 209, 221));
}

.page-container {
    max-width: 1200px;
}

body {
    background-color: rgb(35, 35, 35);
}

.secondary-background {
    border: solid lightgray 1px;
    border-radius: 5px;
    background-color: rgb(247, 247, 247);
    box-shadow: rgba(255, 255, 255, 0.38) 0px 0px 25px 4px;
}

.container-style {
    background-color: rgb(255, 255, 255);
}

.fas {
    color: #90caf9;
    font-size: 20px;
}